{% extends 'booker/bookermain.html'%} {% block content%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('.checkvalues').click(function() {
            var txt = "";
            $('.checkvalues:checked').each(function() {
                txt += $(this).val() + ","
            });
            txt = txt.substring(0, txt.length - 1);
            $('#txtvalues').val(txt);

        });

    });
</script>


<a href="{{request.META.HTTP_REFERER}}">Go back home</a> {%if booking.finishpymnt_booking.finishpayment_status.status is True %}
<form action="" method="POST">
    {% csrf_token %}

    <div>
        <label for="seat_number">Seat: </label> {% for seat in seats %}
        <input type="checkbox" value="{{seat.seat_no}}" class="checkvalues" class="form-control"> {%endfor%}
        <input type="text" name="seat_number" id="txtvalues" readonly>
    </div>


    <input type="submit" value="submit">


</form>
{%endif%} {%endblock content%}