{% extends 'booker/bookermain.html'%} {% block content%}
<div class="row mt-3">
    <div class="card shadow col-md-21">
        <!-- <div class="card-header ">
            <p class="text-primary m-0 font-weight-bold">Requested Guests</p>
        </div> -->
        <div class="card-body">

            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Bus</th>
                            <th>Traveling Customer</th>
                            <th>Traveling Contact</th>
                            <th>Route</th>
                            <!-- <th>Travel start</th>
            <th>Travel Destination</th> -->
                            <th>Travel Date</th>
                            <th>Travel Begin Time</th>
                            <th>Requested number of seat</th>
                            <th>Total Price</th>
                            <th>Paid Through</th>
                            <th>Paid by</th>
                            <th>Transaction ID</th>
                            <th>Screenshot</th>
                            <th>Assigned Seat</th>
                            <th>Status</th>
                            <th>Assign Seat</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings%} {%if booking.sub_route == sub_route %}

                        <tr>
                            <td>{{booking.bus}}</td>
                            <td>{{booking.travaler_name}}</td>
                            <td>{{booking.traveler_contact}}</td>
                            <td>{{booking.route.name}}</td>
                            <!-- <td>{{booking.start}}</td>
            <td>{{booking.destination}}</td> -->
                            <td>{{booking.travel_date}}</td>
                            <td>{{booking.travel_begin_time}}</td>
                            <td>{{booking.seat_quantity}}</td>
                            <td>{% widthratio booking.seat_quantity 1 booking.route.single_seat_price %}</td>
                            <td> {{booking.finishpymnt_booking.payment_method.payment_method.name}}</td>
                            <td> {{booking.finishpymnt_booking.paid_by}}</td>
                            <td> {{booking.finishpymnt_booking.transaction_id}}</td>

                            <td>
                                {% if booking.finishpymnt_booking.screenshot%}
                                <img src="{{booking.finishpymnt_booking.screenshot.url}}" alt="screenshot" style="width: 50px; height: 50px;"> {%endif%}
                            </td>

                            <td> {{booking.assign_seat.seat_number}} </td>
                            <td>
                                {% if booking.finishpymnt_booking.booking_id == booking.id%} {%if booking.finishpymnt_booking.finishpayment_status.fnishpayment_id == booking.id%} {%if booking.finishpymnt_booking.finishpayment_status.status is True %}
                                <button class="btn btn-primary">Paid</button> {%else%}
                                <button class="btn btn-danger">NotPaid</button>{%endif%} {%else%}
                                <a href="{% url 'Booker:paid-unpaid' booking.id %}">Paid/NotPaid</a> {%endif%} {%else%} -- {%endif%}
                            </td>


                            <td>
                                {%if booking.finishpymnt_booking.finishpayment_status.status is True %}
                                <div class="d-flex gap-3 justify-content-around">
                                    {%if booking.assign_seat.booking_id != booking.id %} <a href="{% url 'Booker:assign-seat' booking.id %}">Assign Seat </a>{%else%}
                                    <button class="btn btn-success">Assigned</button><br><a href="{% url 'Booker:edit-assigned-seat' booking.assign_seat.booking_id %}">Edit</a>{%endif%}

                                </div>{%endif%}
                            </td>

                        </tr>
                        {%endif%}{%endfor%}

                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>



{%endblock content%}