{% extends 'customer/customermain.html'%} {% block content%}


<main id="main">




    <section>
        <div class="container">

            <div class="row gy-4">
                {% for subroute in subroutes %}
                <div class="col-lg-4 col-md-4">
                    <div class="card">

                        <h3 class="text-center">{{route.name}}</h3>
                        <ul>
                            <li>Traveling bus: {{subroute.bus.bus.name}}</li>
                            <li>Traveling bus type: {{subroute.bus.plate_number}} - {{subroute.bus.bus_number}}</li>
                            <li>Travel start:{{route.start}}</li>
                            <li>Travel destination:{{route.destination}}</li>
                            <li>Via cities: {{route.via_cities}}</li>
                            <li>Distance: {{route.travel_distance}} km</li>
                            <li>Travel approximate time length: {{route.travel_aproximate_time}}</li>
                            <li>Single ticket price: {{route.single_seat_price}}</li>
                            <li>Travel date: {{route.travel_date}}</li>
                            <li>Travel begin time: {{route.travel_begin_time}}</li>
                            <li>Bus facilities: {{route.travel_facilities}}</li>
                        </ul>

                        <a href="{% url 'booking' subroute.id %}" class="text-center"><button class="btn btn-primary">Book Now</button></a>
                    </div>
                </div>
                {%endfor%}
                <!-- End Card Item -->

            </div>
        </div>
    </section>




</main>



{%endblock content%}